<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <title>The Revolutionaries</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="sidebar">
        <h1>The Revolutionaries</h1>
        <blockquote>
            <a class="cite" href="http://twitter.com/sciencehackday/status/16608593166" title='OH: "Isaac Newton should be the default..."'>Isaac Newton should be the default...</a>
        </blockquote>

        <form>
            <input class="search" value="Search" title="Search">
        </form>
        
        <p class="hint">Try searching for inventors, thinkers, or revolutionaries (<em>eg. "Isaac Newton", "Albert Einstein"</em>).<p>

        <ul id="history">
            <li class="previous">&larr; Previous<br>Article title</li>
            <li class="next">Next &rarr;<br>Article title</li>
        </ul>
    </div>
	
	
	<!-- content -->
	
	<div id="content">
	    <div id="revolutionary"></div>
	    <div id="related"></div>
	</div>
	
	<!-- end content -->
	
	
	
	
	<!-- templates -->
	
	<script type="text/template" id="itemDetailTmpl">
	    <div class="item-detail vcard">
		    <h2><a class="fn url" href="<%= url %>"><%= name %></a></h2>
	        <p><a class="photo-container" href="<%= url %>"><img src="<%= depiction %>" alt="<%= name %>"></a></p>
            <p><%= abstract %></p>
        </div>
	</script>
	
	<script type="text/template" id="itemSummaryTmpl">
	    <div class="item-summary vcard">
		    <h4><a class="fn url" href="<%= url %>"><%= name %></a></h4>
		    <a class="photo-container" href="<%= url %>"></a>
		</div>
	</script>
	
	<script type="text/template" id="itemTmpl">
	    <li class="<%= id %>"><%= item %></li>
	</script>
	
	<script type="text/template" id="itemsTmpl">
	     <div class="<%= type %>">
	        <h3><%= title %></h3>
		    <ul></ul>
		 </div>
	</script>
	
	<!-- end templates -->
	
	
	
	
	<!-- scripts -->
    
    <script src="console.js"></script>
    <script src="jquery.js"></script>
    <script src="revolutionaries.js"></script>
	<script>
	
	var theDefault = 'isaac newton',
	    api = revolutionaries,
	    win = $(window),
	    body = $('body'),
	    side = $('#sidebar'),
	    content = $('#content'),
	    revolutionary = $('#revolutionary'),
	    related = $('#related'),
	    s = $('.search', side),
	    tmpl = revolutionaries.tmpl,
	    influences, influencesList, influenced, influencedList;
	
	// searchbox behaviour
    s.focus(function(){
        s.val('');
    })
    .blur(function(){
        var val = s.val();
        s.val(val ? val : s.attr('title'));
    });
    
    // sidebar height
	function resetSidebarHeight(){
	    var wh = win.height(),
	        bh = body.height(),
	        ch = content.height();
	    
	    side.height(Math.max(wh, bh, ch));
	}
    
    // reset DOM
    function clear(){
        revolutionary.empty();
        related.empty();
        influences = null;    
        influenced = null;
	    resetSidebarHeight();
    }
    
    // update display
    function display(data){
    
        var type = data.type,
            items, container, item;           
        
        _(type, data.name, data.id, data);
        
        if (!type){
            return false;
        }
    
        // Route data to micro-templates
        switch(type){
            // main subject
            case 'revolutionary':
                clear();
                revolutionary.html(tmpl('itemDetailTmpl', data));
            break;
            
            
            // detail for influences and influenced
            case 'person-detail':
                api.loadPhoto(
                    data.thumbnail,
                    data.name,
                    function(){
                        $(this).appendTo('.item-' + data.id + ' .photo-container', revolutionary);
                	    resetSidebarHeight();
                    }
                );
            break;
            
            
            // influences
            case 'influence':
                if (!influences){
                    influences = $(tmpl('itemsTmpl', {type:type, title:'Influences'}))
                        .appendTo(related);
                    influencesList = influences.find('ul');
                }
                item = $(tmpl('itemTmpl', {id:'item-' + data.id, item:tmpl('itemSummaryTmpl', data)}));
                item.find('a').click(function(){
                    api.person(data.dbUrl, function(data){
                        display(data);
                    });
                    return false;
                });
                influencesList.append(item);
            break;
            
            
            // influenced
            case 'influenced':
                if (!influenced){
                    influenced = $(tmpl('itemsTmpl', {type:type, title:'Influenced'}))
                        .appendTo(related);
                    influencedList = influenced.find('ul');
                }
                item = $(tmpl('itemTmpl', {id:'item-' + data.id, item:tmpl('itemSummaryTmpl', data)}));
                item.find('a').click(function(){
                    api.person(data.dbUrl, function(data){
                        display(data);
                    });
                    return false;
                });
                influencedList.append(item);
            break;
        }
        
        resetSidebarHeight();
    }
    
    // initialise
    resetSidebarHeight();
    api.keyword(theDefault, display);
	</script>
	
	<!-- end scripts -->
	
</body>
</html>
